@import url('http://fonts.cdnfonts.com/css/tarif-arabic');
.all{
    width: 50%;
    height: 30%;
    margin-right: 25%;
    margin-left: 25% ;
}
.card {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

li {
    list-style-type: none;
    cursor: pointer;
    margin: 10px 0;
}

li .card:hover {
    border: 1px solid blue;
}

ol {
    padding: 0;
}
.right{
   margin-right: 5%;
   font-family: 'Tarif Arabic', sans-serif;
    font-size: 20px;
    margin-bottom: 10%;
}
.agin{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}