<div class="all">
    <nav>
        <div class="container-fluid">
            <a class="navbar-brand text-bold" href="#">
                <span class="text-uppercase" routerLink="/welcome"><h3 class="animate-charcter">مرحبا بك في كويز</h3></span>
            </a>
        </div>
    </nav>
    <div class="container py-5">
        <h4>القواعد لعبة بسيطة هي  كتالي :</h4>
            <div class="d-print-table-row ">*في كل اجابة صحيحة ستكسب 10 نقاط</div>
            <div class="d-print-table-row ">*في كل اجابة خاطئة ستخسر 10 نقاط</div>
            <div class="d-print-table-row ">*لديك 60 ثانية لاجابة على سؤال</div>
            <div class="d-print-table-row ">*في اعادة تحميل صفحة ستعيد لعبة من جديد</div>       
    </div>
    <div class="name col-md-4 my-3">
    </div>

    <div class="form">
    <input #name type="text" class="" placeholder="ادخل اسمك" required>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">ابدء الان</button>
    </div>    
</div>

